@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html.dark {
    color-scheme: dark;
    background-color: #020617;
    color: #f8fafc;
  }
}


@media print {
  @page {
    size: 80mm auto;
    margin: 0mm;
  }
  
  html, body {
    background-color: white !important;
    color: black !important;
    font-family: 'Courier New', Courier, monospace !important;
    -webkit-font-smoothing: antialiased;
    width: 80mm;
    margin: 0;
    padding: 0;
  }
}
